:root {
    /* Colors */
    /* Primary */
    /* Text */
    
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    
    /* Gradient */
    
    /* Background gradient: */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    
    /* Neutral */
    /* Text */
    
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    
    /* Dividers */
    --light-grayish-blue: hsl(240, 5%, 91%);
    
    /* Font */
    --sm: 1.2rem;
    --md: 1.4rem;
    --lg: 2.5rem;
}
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html {
    font-size: 62.5%;
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(var(--soft-violet), var(--soft-blue));
}
main {
    width: 100vw;
    height: 100vh;
    display: flex;
}
.general__container {
    position: relative;
    width: 90%;
    max-width: 460px;
    margin: auto;
    background: var(--light-grayish-blue);
    border-radius: 20px;
    box-shadow: 5px 6px 20px 4px rgb(0 0 0 / 10%);
}
.img__section {

}

.section__container {

}
.container__ilustration {

}
.container__ilustration2 {

}
/* .section__shadow {

} */
.container {
    width: 100%;
    max-width: 460px;
    min-width: 300px;
    padding: 30px 20px;
}
.container__title {

}
.container__disclosure {
    display: flex;
    width: 100%;
    height: 55px;
    margin: 15px 0px;
    border-radius: 10px;
    flex-direction: column;
}
.disclosure__btn {

}
.disclosure__icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: inline-block;
}
.disclosure__content {

}
.disclosure__text {

}
@media (min-width: 600px) {
    main {
        display: flex;
    }
    .general__container {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        max-width: 675px;
        max-height: 460px;
        border-radius: 25px;
    }
    .img__section {
        height: 460px;
        border-radius: 25px;
    }
    .container {
        height: 460px;
    }
}