:root {
    /* Colors */
    /* Primary */
    /* Text */
    --white: hsl(0, 0%, 100%);
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    
    /* Gradient */
    
    /* Background gradient: */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    
    /* Neutral */
    /* Text */
    
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    
    /* Dividers */
    --light-grayish-blue: hsl(240, 5%, 91%);
    
    /* Font */
    --sm: 1.2rem;
    --md: 1.4rem;
    --lg: 3rem;
}
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html {
    font-size: 62.5%;
    font-family: 'Kumbh Sans', sans-serif;
    background: linear-gradient(var(--soft-violet), var(--soft-blue));
}
main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.general__container {
    position: relative;
    width: 90%;
    max-width: 460px;
    min-width: 305px;
    margin-top: 70px;
    background: var(--white);
    border-radius: 20px;
    box-shadow: 5px 6px 20px 4px rgb(0 0 0 / 10%);
}
.img__section {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 460px;
    min-width: 300px;
    min-height: 100px;
}
span {
    display: inline-block;
    display: inline-block;
    background-repeat: no-repeat;   
    background-position: center;
}
.section__container {
    position: absolute;
    top: -110px;
}
.container__ilustration {
    width: 242px;
    height: 182px;
    background-image: url(./images/illustration-woman-online-mobile.svg);
}
.container__ilustration2 {
    position: absolute;
    top: 109px;
    left: 0px;
    width: 240px;
    height: 105px;
    background-image: url(./images/bg-pattern-mobile.svg);
}
.section__disclosures {
    width: 100%;
    height: auto;
    max-width: 460px;
    min-width: 300px;
    padding: 30px 20px;
}
.disclosures__title {
    font-size: var(--lg);
    text-align: center;
}
.container__element {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 20px 0px;
}
.element__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: none;
    font-size: var(--md);
    background-color: var(--white);
    color: var(--dark-grayish-blue);
}
.btn__icon {
    width: 11px;
    height: 7px;
    margin-right: 10px;
    background-image: url(./images/icon-arrow-down.svg);
    background-size:cover ;
}
.rotate {
    transform: rotate(-180deg);
}
.element__content {
    margin-top: 10px;
}
.inactive {
    display: none;
}
.element__text {
    font-size: var(--sm);
    color: var(--dark-grayish-blue);
}
.divider {
    width: 100%;
    margin-top: 20px;
    border-color:  hsla(240, 4%, 91%, 0.294);
}

.focus {
    color: var(--very-dark-desaturated-blue);
    font-weight: bold;
    text-align: left;
}
@media (min-width: 800px) {
    .general__container {
        display: flex;
        justify-content: center;
        max-width: 970px;
        margin: 0px;
    }
    .section__container {
        top: 70px;
        left: 0px;   
    }
    .container__ilustration {
        position: relative;
        z-index: 1;
        width: 390px;
        height: 361px;
        background-position: right;
        background-image: url(./images/illustration-woman-online-desktop.svg);
    }
    .container__ilustration2 {
        width: 390px;
        height: 655px;
        top: -70px;
        background-position: right bottom;
        background-image: url(./images/bg-pattern-desktop.svg);
    }
    .section__box {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        left: -200px;
        top: 30px;
        background-image: url(./images/illustration-box-desktop.svg);
    }
    .section__disclosures {
        max-height: 525px;
    }
    .disclosures__title {
        text-align: left;
        margin: 40px 0px;
    }
    .disclosures__container {
        max-height: 380px;
        overflow: auto;
    }
    .element__btn:hover {
        color: var(--soft-red);
        transition: color 0.2s linear
    }
}
@media (min-width: 1000px) {
    .section__container {
        left: -25px;  
    }
    .section__box {
        left: -250px;
    }
    .section__disclosures {
        padding: 60px 0px;
        padding-right: 80px;
    }
    .disclosures__title {
        font-size: 3.3rem;
        margin: 10px 0px;
    }
    .container__element {
        margin: 25px 0px;
    }
}